* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos gerais */
button {
  width: 100%; /* Ambos os botões agora têm o mesmo tamanho */
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  margin-top: 20px;
}

li {
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-container {
  margin-top: 20px;
  text-align: center;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
  font-weight: bold;
}

/* Estilo para a área do scanner (câmera) */
#interactive {
  width: 100%;
  max-width: 400px; /* Limita a largura máxima para o scanner */
  height: 300px; /* Altura reduzida da câmera */
  margin-top: 20px;
  border: 2px solid #ccc;
  display: none; /* Inicialmente oculto */
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  #interactive {
    height: 200px; /* Reduz a altura da câmera em dispositivos móveis */
    max-width: 100%; /* Mantém a largura da câmera dentro da tela do dispositivo */
  }

  button {
    width: 100%; /* Garante que os botões ocupem toda a largura disponível no celular */
    padding: 12px; /* Um pouco mais de padding para tornar o botão mais confortável */
  }
}